main{
    text-align: center;
    display: flex;
}

table{
    font-family:  ubuntu, sans-serif;
    background-color: lightgray;
    margin: 0 auto;
    box-shadow: 8px 13px 20px 0px;
  }
  
  table tr:nth-child(even) {
    background-color: #e7f0ed;
  }
  
  table tr:nth-child(odd) {
   background-color: #e7ffed;
  }
  
  thead tr th {
    text-align: center;
    background-color: #7fb9c2;
    font-size: x-large;
  }
  
  tfoot tr td {
    text-align: center;
    background-color: #7fb9c2;
    padding: 5px;
  }
  
  tbody tr td, td {
    text-align: center; 
    padding: 7px;
  }
  
  tbody tr th, .highersale{
    text-align: center; 
    padding: 7px;
    background-color: #628ca6;
    color: white;
  }