* {
  box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* text-align: center; */
  margin: 0px;
}

/* Style the header */
header {
  background-color: #50514F;
  padding         : 30px;
  text-align      : center;
  font-size       : 35px;
  color           : white;
}

/* main */

main {
  display: grid;
  grid-template-columns: 1fr ;
}

section{
  padding: 2px;
}

.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info_articles img{
  width: 495px;
  height: 305px;
}

.towns {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
}

.cards{
  display: grid;
  grid-template-columns: 1fr  1fr  1fr ;
}

.cards section{
  background-color: rgb(93, 176, 231);
  border: 1px solid rgb(101, 115, 134);
}

section img {
  width: 300px;
  height: 265px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  margin: 0 auto;
  background-color: #247BA0;
}

.navigation {
  list-style: none;
  padding   : 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display        : block;
  padding        : 0.75rem;
  text-decoration: none;
  color          : black;
  font-weight    : 700;
}

.navigation a:hover {
  color           : black;
  background-color: #CBD4C2;
}

img {
  width: 250px; 
  height: 200px; 
  margin: .5rem;
}


/* Style the footer */
footer {
  background-color: #50514F;
  padding         : 10px;
  text-align      : center;
  color           : white;

}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
<ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

header {
  background-color: #50514F;
  padding         : 5px 0;
  display         : flex;
  align-items     : center;
  justify-content : center;
}

header img {
  width : 80px;
  height: auto;
}

.headings {
  display       : flex;
  flex-direction: column;
}

.headings h1 {
  font-size: 1.7rem;
  margin   : 0 0 0 17px;
}

.motto {
  font-style    : italic;
  letter-spacing: 1pt;
  color         : #247BA0;
  margin-left   : 20px;
  font-size     : 2rem;
}

 /* Clear floats after the columns */
 section {
  display: table;
  clear: both;
  text-align: center;
}

.articleimagen{
  width:250px;
  height:250px;
  float: right;
  margin: 10px;
}

.articlemain {
  overflow:auto;
}

.dayforecast{
  display: inline;
}

.forecastimagen{
  width: 20%;
  margin: -3px;
  padding: 63px;
}

.heroimagen {
  width: 100%;
  height: 290px;
}

.navigation li a.active {
  background-color: yellow;
}
.active, li :hover {
  background-color: yellow;
}

.weathersummary {
    display: block;
    background-color: rgb(80 81 79);
    border-style: none;
    padding: 5px;
    font-family: 'PT Serif', serif;
}



#banner  {
  background: linear-gradient(to right, #141517, #137491);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    text-align: center;
    padding: 25px;
    line-height: 30px;
    margin: 10px 0px 30px 0px;
    display: none;
}

/* Footer */

.contactsession{
  overflow:auto;
}

.contactmap{
  width: 300px;
  float: left;
}

.socialmediaicon{
  width: 20px;
  margin: 10px;
}

/* Form  */
form {
  margin: 0 auto;
  width: 75%;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #f2f2f2;
  padding: 20px;
}


form label {
  display: inline-block;
  width: 100%;
  padding: 6px;
}

form input, textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 0.75em;
}

textarea {
  padding: 1.5em;
}

input[type="radio"]{
  width: auto;
}

input:focus, 
textarea:focus {
  border-color: #137491;
}

.button {
  padding-left: 90px; 
  margin-left: .5em;
}

input:invalid {
	background-color: #fdd;
	color: rgb(255, 0, 0);
}
input:valid {
	background-color: #dfd;
	color: rgb(0, 0, 0);
}

.thank{
  padding: 5em;
  text-align: center;
}

/* Media Query for small views */
@media only screen and (max-width: 40.036em) {
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* change state in small view */
    flex   : 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .homeimagen{
    width:250px;
    height:300px;
  }
  .navigation li a.active {
    background-color: yellow;
  }
  .active, li :hover {
    background-color: yellow;
  }

  .gallery-image:hover {
    box-shadow: 0 0 50px #333;
  }

  .info{
    display: grid;
    grid-template-columns: 1fr;
  }
  
 
  .cards{
    display: grid;
    grid-template-columns: 1fr;
  }

  .cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    text-align: center;
    line-height: 20px;
}
}