* {
  box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: center;
  margin: 0px;
}

/* Style the header */
header {
  background-color: #50514F;
  padding         : 30px;
  text-align      : center;
  font-size       : 35px;
  color           : white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  margin: 0 auto;
  background-color: #247BA0;
}

.navigation {
  list-style: none;
  padding   : 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display        : block;
  padding        : 0.75rem;
  text-decoration: none;
  color          : black;
  font-weight    : 700;
}

.navigation a:hover {
  color           : black;
  background-color: #CBD4C2;
}



/* Style the footer */
footer {
  background-color: #50514F;
  padding         : 10px;
  text-align      : center;
  color           : white;

}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
<ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

header {
  background-color: #50514F;
  padding         : 5px 0;
  display         : flex;
  align-items     : center;
  justify-content : center;
}

header img {
  width : 80px;
  height: auto;
}

.headings {
  display       : flex;
  flex-direction: column;
}

.headings h1 {
  font-size: 1.7rem;
  margin   : 0 0 0 17px;
}

.motto {
  font-style    : italic;
  letter-spacing: 1pt;
  color         : #247BA0;
  margin-left   : 20px;
  font-size     : 2rem;
}

 /* Clear floats after the columns */
 section {
  display: table;
  clear: both;
  text-align: center;
}

.homeimagen{
  width:250px;
  height:300px;
}
.navigation li a.active {
  background-color: yellow;
}
.active, li :hover {
  background-color: yellow;
}

#banner  {
  background: linear-gradient(to right, #141517, #137491);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    text-align: center;
    padding: 25px;
    line-height: 30px;
    margin: 10px 0px 30px 0px;
    display: none;
}