/* Media Query for medium+ views */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* change state in small view */
    flex   : 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }
}

  /* Larger viewports */
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    header img {
      width: 100%;
    }

    .headings h1 {
      font-size: 3rem;
    }

    .motto {
      font-style    : italic;
      letter-spacing: 1pt;
      color         : #247BA0;
      margin-left   : 20px;
      font-size     : 2rem;

    }

  }